<a href="https://colab.research.google.com/github/JhonatanCI/CheatSheets-SQL/blob/main/Cursores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


En SQL, un cursor es un objeto que permite recorrer un conjunto de filas devueltas por una consulta y procesarlas una por una. Los cursores son útiles cuando se necesita realizar operaciones más complejas en los datos devueltos que no se pueden lograr con una simple consulta.

Para declarar un cursor en SQL, se utiliza la sintaxis:

In [ ]:
DECLARE cursor_name CURSOR FOR select_statement;

Donde cursor_name es el nombre que se le dará al cursor y select_statement es la consulta que se utilizará para definir el conjunto de filas que se recorrerán con el cursor.

A continuación, se presenta un ejemplo que ilustra cómo declarar un cursor en SQL y recorrer las filas resultantes:

In [ ]:
-- Declaramos el cursor
DECLARE my_cursor CURSOR FOR
    SELECT first_name, last_name FROM employees;
    
-- Abrimos el cursor
OPEN my_cursor;

-- Recorremos las filas del cursor
DECLARE @first_name varchar(50);
DECLARE @last_name varchar(50);

FETCH NEXT FROM my_cursor INTO @first_name, @last_name;
WHILE @@FETCH_STATUS = 0
BEGIN
    -- Procesamos cada fila
    PRINT 'Nombre completo: ' + @first_name + ' ' + @last_name;

    -- Recuperamos la siguiente fila
    FETCH NEXT FROM my_cursor INTO @first_name, @last_name;
END

-- Cerramos el cursor
CLOSE my_cursor;

En este ejemplo, se declara un cursor llamado my_cursor que recorre todas las filas de la tabla employees y devuelve los campos first_name y last_name. Luego, se abre el cursor y se recorren todas las filas con un bucle WHILE que procesa cada fila y la muestra en la pantalla. Finalmente, se cierra el cursor para liberar los recursos.