<a href="https://colab.research.google.com/github/JhonatanCI/CheatSheets-SQL/blob/main/Declaracion_Variables_Constantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaracion de variables y constantes

Para declarar variables y constantes se tiene lo siguiente:

* Nombre_variable es el nombre que se le asigna a la variable.
* Tipo_dato es el tipo de dato que se va a almacenar en la variable. Puede ser cualquier tipo de dato válido en Oracle, como VARCHAR2, NUMBER, DATE, entre otros.
* Nombre_constante es el nombre que se le asigna a la constante.
valor es el valor que se le asigna a la constante y que no se puede cambiar durante la ejecución del bloque.

In [ ]:
#sintaxis básica para declarar una variable
nombre_variable tipo_de_dato;

#Para declarar una constante
CONST nombre_constante tipo_de_dato := valor;

###Ejemplos

In [ ]:
# Declaracion de variables
# Variable tipo NUMBER
DECLARE
  cantidad NUMBER;
BEGIN
  cantidad := 10;
END;

# Variable tipo VARCHAR
DECLARE
  nombre_cliente VARCHAR2(50);
BEGIN
  nombre_cliente := 'Juan Perez';
END;

# Variable tipo DATE
DECLARE
  fecha_nacimiento DATE;
BEGIN
  fecha_nacimiento := DATE'2000-05-20';
END;

# Variable tipo BOOLEAN
DECLARE
  es_activo BOOLEAN;
BEGIN
  es_activo := TRUE;
END;

In [ ]:
#Declaracion de constantes
#Variables numericas
DECLARE
   edad NUMBER := 30;
BEGIN
   DBMS_OUTPUT.PUT_LINE('La edad es: ' || edad);
END;

#Cadena de caracteres
DECLARE
   nombre VARCHAR2(50) := 'Juan';
BEGIN
   DBMS_OUTPUT.PUT_LINE('El nombre es: ' || nombre);
END;

#Constantes numericas
DECLARE
   CONST pi NUMBER := 3.1416;
   radio NUMBER := 5;
   area_circulo NUMBER;
BEGIN
   area_circulo := pi * (radio ** 2);
   DBMS_OUTPUT.PUT_LINE('El área del círculo es: ' || area_circulo);
END;

#Constante cadena de caracteres
DECLARE
   CONST mensaje VARCHAR2(50) := 'Hola, mundo!';
BEGIN
   DBMS_OUTPUT.PUT_LINE(mensaje);
END;