<a href="https://colab.research.google.com/github/JhonatanCI/CheatSheets-SQL/blob/main/Declaracion_de_Tablas_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Describir la estructura general de un bloque PL/SQL (con un ejemplo)

In [ ]:
DECLARE
   -- sección declarativa: se definen las variables y constantes
   v_empleado_id NUMBER := 100;
   v_salario     NUMBER;
BEGIN
   -- sección ejecutable: se realizan operaciones y sentencias SQL
   SELECT salario INTO v_salario FROM empleados WHERE empleado_id = v_empleado_id;
   
   IF v_salario > 5000 THEN
      DBMS_OUTPUT.PUT_LINE('El empleado con ID ' || v_empleado_id || ' tiene un salario mayor a $5000.');
   ELSE
      DBMS_OUTPUT.PUT_LINE('El empleado con ID ' || v_empleado_id || ' tiene un salario menor o igual a $5000.');
   END IF;
   
   -- sección de excepciones: se manejan las excepciones que se puedan presentar
   EXCEPTION
      WHEN NO_DATA_FOUND THEN
         DBMS_OUTPUT.PUT_LINE('El empleado con ID ' || v_empleado_id || ' no existe.');
END;

# 2. ¿Cómo se hacen declaraciones de variables y constantes? Proponga ejemplos con distintos tipos de datos.

In [ ]:
#sintaxis básica para declarar una variable
nombre_variable tipo_de_dato;

#Para declarar una constante
CONST nombre_constante tipo_de_dato := valor;

#EJEMPLOS:
#Variables numericas
DECLARE
   edad NUMBER := 30;
BEGIN
   DBMS_OUTPUT.PUT_LINE('La edad es: ' || edad);
END;

#Cadena de caracteres
DECLARE
   nombre VARCHAR2(50) := 'Juan';
BEGIN
   DBMS_OUTPUT.PUT_LINE('El nombre es: ' || nombre);
END;

#Constantes numericas
DECLARE
   CONST pi NUMBER := 3.1416;
   radio NUMBER := 5;
   area_circulo NUMBER;
BEGIN
   area_circulo := pi * (radio ** 2);
   DBMS_OUTPUT.PUT_LINE('El área del círculo es: ' || area_circulo);
END;

#Constante cadena de caracteres
DECLARE
   CONST mensaje VARCHAR2(50) := 'Hola, mundo!';
BEGIN
   DBMS_OUTPUT.PUT_LINE(mensaje);
END;

# 3. Explicar las instrucciones de control de PL/SQL, ilustre sus respuestas por medio de ejemplos.

In [ ]:
#CONDICIONAL
#If
IF condicion THEN
   -- sentencias si la condición es verdadera
END IF;

#Ejemplo
DECLARE
   edad NUMBER := 30;
BEGIN
   IF edad >= 18 THEN
      DBMS_OUTPUT.PUT_LINE('La persona es mayor de edad.');
   END IF;
END;

#CASE
CASE expresion
   WHEN valor1 THEN
      -- sentencias si la expresión es igual a valor1
   WHEN valor2 THEN
      -- sentencias si la expresión es igual a valor2
   ELSE
      -- sentencias si la expresión no coincide con ningún valor
END CASE;

#Ejemplo
DECLARE
   dia_semana VARCHAR2(10) := 'lunes';
BEGIN
   CASE dia_semana
      WHEN 'lunes' THEN
         DBMS_OUTPUT.PUT_LINE('Hoy es lunes.');
      WHEN 'martes' THEN
         DBMS_OUTPUT.PUT_LINE('Hoy es martes.');
      ELSE
         DBMS_OUTPUT.PUT_LINE('Hoy no es ni lunes ni martes.');
   END CASE;
END;

#BUCLES
#While
WHILE condicion LOOP
   -- sentencias mientras la condición sea verdadera
END LOOP;

#Ejemplo
DECLARE
   contador NUMBER := 1;
BEGIN
   WHILE contador <= 5 LOOP
      DBMS_OUTPUT.PUT_LINE('El contador es: ' || contador);
      contador := contador + 1;
   END LOOP;
END;

#For
FOR variable IN valor_inicial..valor_final LOOP
   -- sentencias mientras variable está en el rango de valor_inicial a valor_final
END LOOP;

#Ejemplo
DECLARE
   suma NUMBER := 0;
BEGIN
   FOR i IN 1..5 LOOP
      suma := suma + i;
   END LOOP;
   DBMS_OUTPUT.PUT_LINE('La suma es: ' || suma);
END;

#Excepciones
BEGIN
   -- bloque de código
EXCEPTION
   WHEN excepcion1 THEN
      -- sentencias si se presenta la excepción1
   WHEN excepcion2 THEN
      -- sentencias si se presenta la excepción2
   ELSE
      -- sentencias si se presenta otra excepción
END;

#Ejemplo
DECLARE
   resultado NUMBER;
BEGIN
   resultado := 10 / 0;
EXCEPTION
   WHEN ZERO_DIVIDE THEN
      DBMS_OUTPUT.PUT_LINE('Error: división entre cero.');
END;

#4. Explique cómo se declaran y usan los procedimientos/funciones por medio de ejemplos.

In [ ]:
CREATE OR REPLACE PROCEDURE calcular_area_rectangulo(
   base IN NUMBER,
   altura IN NUMBER,
   area OUT NUMBER
)
IS
BEGIN
   area := base * altura;
END;

#En este ejemplo, se define un procedimiento llamado calcular_area_rectangulo 
#que toma dos parámetros de entrada (base y altura) y un parámetro de salida (area). 
#El procedimiento calcula el área del rectángulo y lo asigna al parámetro area.

#Para llamar a este procedimiento en el código, se puede hacer lo siguiente:

DECLARE
   b NUMBER := 10;
   h NUMBER := 5;
   a NUMBER;
BEGIN
   calcular_area_rectangulo(b, h, a);
   DBMS_OUTPUT.PUT_LINE('El área del rectángulo es: ' || a);
END;


#Otro ejemplo de declaraciony procedimiento
CREATE OR REPLACE FUNCTION calcular_volumen_cilindro(
   radio IN NUMBER,
   altura IN NUMBER
)
RETURN NUMBER
IS
   pi NUMBER := 3.1416;
   volumen NUMBER;
BEGIN
   volumen := pi * radio * radio * altura;
   RETURN volumen;
END;

#Para llamar la funcion
DECLARE
   r NUMBER := 2;
   h NUMBER := 5;
   v NUMBER;
BEGIN
   v := calcular_volumen_cilindro(r, h);
   DBMS_OUTPUT.PUT_LINE('El volumen del cilindro es: ' || v);
END;