<a href="https://colab.research.google.com/github/JhonatanCI/CheatSheets-SQL/blob/main/Estructura_general_de_un_bloque_PL_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Descripción de la estructura general de un bloque PL/SQL

Un bloque PL/SQL es una unidad de código que contiene uno o más sentencias SQL y/o PL/SQL. Su estructura general se compone de las siguientes partes:

* Declaración del bloque: La declaración del bloque comienza con la palabra clave "DECLARE". Donde se declaran las variables, cursores, tipos y excepciones que se utilizarán dentro del bloque.

* Cuerpo del bloque: El cuerpo del bloque comienza con la palabra clave "BEGIN". Donde se escriben las sentencias SQL y/o PL/SQL que realizarán alguna acción.

* Manejo de excepciones: Estas son opcionales, se puede incluir una sección para manejar excepciones que puedan surgir durante la ejecución del bloque. Esta sección comienza con la palabra clave "EXCEPTION" y contiene uno o más bloques de manejo de excepciones.

* Fin del bloque: El bloque se cierra con la palabra clave "END".

In [ ]:
DECLARE
   -- sección declarativa: se definen las variables y constantes
   v_empleado_id NUMBER := 100;
   v_salario     NUMBER;
BEGIN
   -- sección ejecutable: se realizan operaciones y sentencias SQL
   SELECT salario INTO v_salario FROM empleados WHERE empleado_id = v_empleado_id;
   
   IF v_salario > 5000 THEN
      DBMS_OUTPUT.PUT_LINE('El empleado con ID ' || v_empleado_id || ' tiene un salario mayor a $5000.');
   ELSE
      DBMS_OUTPUT.PUT_LINE('El empleado con ID ' || v_empleado_id || ' tiene un salario menor o igual a $5000.');
   END IF;
   
   -- sección de excepciones: se manejan las excepciones que se puedan presentar
   EXCEPTION
      WHEN NO_DATA_FOUND THEN
         DBMS_OUTPUT.PUT_LINE('El empleado con ID ' || v_empleado_id || ' no existe.');
END;