<a href="https://colab.research.google.com/github/JhonatanCI/CheatSheets-SQL/blob/main/Instrucciones_de_control_de_PL_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Instrucciones de control de PL/SQL

Las instrucciones de control en PL/SQL son un conjunto de sentencias que permiten controlar el flujo de ejecución de un bloque de código. Estas instrucciones permiten tomar decisiones y repetir un conjunto de instrucciones varias veces según sea necesario.

A continuación se describen algunas de las instrucciones de control más comunes en PL/SQL:

* IF-THEN-ELSE: permite evaluar una condición y ejecutar un conjunto de instrucciones si la condición es verdadera y otro conjunto de instrucciones si la condición es falsa.

* CASE: permite evaluar una expresión y ejecutar diferentes conjuntos de instrucciones según el valor de la expresión.

* FOR LOOP: permite repetir un conjunto de instrucciones un número fijo de veces.

* WHILE LOOP: permite repetir un conjunto de instrucciones mientras se cumpla una condición.

* EXIT y CONTINUE: permiten salir o saltar a la siguiente iteración de un bucle, respectivamente.

* EXCEPTION: permite manejar errores o excepciones en la ejecución del código.

##Condicional

In [ ]:
#CONDICIONAL
#If
IF condicion THEN
   -- sentencias si la condición es verdadera
END IF;

#Ejemplo
DECLARE
   edad NUMBER := 30;
BEGIN
   IF edad >= 18 THEN
      DBMS_OUTPUT.PUT_LINE('La persona es mayor de edad.');
   END IF;
END;

##Case

In [ ]:
#CASE
CASE expresion
   WHEN valor1 THEN
      -- sentencias si la expresión es igual a valor1
   WHEN valor2 THEN
      -- sentencias si la expresión es igual a valor2
   ELSE
      -- sentencias si la expresión no coincide con ningún valor
END CASE;

#Ejemplo
DECLARE
   dia_semana VARCHAR2(10) := 'lunes';
BEGIN
   CASE dia_semana
      WHEN 'lunes' THEN
         DBMS_OUTPUT.PUT_LINE('Hoy es lunes.');
      WHEN 'martes' THEN
         DBMS_OUTPUT.PUT_LINE('Hoy es martes.');
      ELSE
         DBMS_OUTPUT.PUT_LINE('Hoy no es ni lunes ni martes.');
   END CASE;
END;

##Bucles

###While

In [ ]:
#While
WHILE condicion LOOP
   -- sentencias mientras la condición sea verdadera
END LOOP;

#Ejemplo
DECLARE
   contador NUMBER := 1;
BEGIN
   WHILE contador <= 5 LOOP
      DBMS_OUTPUT.PUT_LINE('El contador es: ' || contador);
      contador := contador + 1;
   END LOOP;
END;

###For

In [ ]:
#For
FOR variable IN valor_inicial..valor_final LOOP
   -- sentencias mientras variable está en el rango de valor_inicial a valor_final
END LOOP;

#Ejemplo
DECLARE
   suma NUMBER := 0;
BEGIN
   FOR i IN 1..5 LOOP
      suma := suma + i;
   END LOOP;
   DBMS_OUTPUT.PUT_LINE('La suma es: ' || suma);
END;

##Excepciones

In [ ]:
#Excepciones
BEGIN
   -- bloque de código
EXCEPTION
   WHEN excepcion1 THEN
      -- sentencias si se presenta la excepción1
   WHEN excepcion2 THEN
      -- sentencias si se presenta la excepción2
   ELSE
      -- sentencias si se presenta otra excepción
END;

#Ejemplo
DECLARE
   resultado NUMBER;
BEGIN
   resultado := 10 / 0;
EXCEPTION
   WHEN ZERO_DIVIDE THEN
      DBMS_OUTPUT.PUT_LINE('Error: división entre cero.');
END;